body{text-align: center;
    margin: auto;
background-color: black;}
  
    .Items {  display: grid;
        grid-template-columns: 0.2fr 2.6fr 0.2fr;
        grid-template-rows: 0.2fr 3.6fr 0.2fr;
        grid-auto-columns: 1fr;
        gap: 1px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". table ."
          ". . .";
      }

    td,
    tr,
    table {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        grid-area: table;
        background-color: black ;
        color: white;
        border-color: white;
    }

    input,
    p {
        /* font-size: medium; */
        text-align: right;
        margin: 0;
    }
