body {
    background-color: #1f1f1f;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: "Lucida Console", "Courier New", Courier, monospace; */
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: Poppins, sans-serif;
    font-size: 14px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg_ledstructures_sq.png");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: left center; */
    background-size: 100%;
}


input {
    font-family: inherit;
    vertical-align: right;
    accent-color: #0046e5;
}

input[type=text] {
    border: 0px;
    width: 95%;
    height: 100%;
}

input[type=number] {
    border: 0px;
    width: 56px;
    height: 100%;
    vertical-align: middle;
}



input[type=button] {
    border: 8px;
    height: 36px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 12;
    background-color: #0046e5;
    color: #e6edfc;
    transition: 0.5s;
}

input,
p {
    text-align: right;
    margin: 0;
    font-weight: lighter;
}

.button.disabled:hover,
input[type=button]:disabled {
    cursor: not-allowed;
    background-color: #7392db;
    color: #ffffff;
    border-color: #7392db;
}

.button:hover {
    background-color: #ffffff;
    color: #2f2f2f;
}

.button:active {
    transform: translate3d(1px, 1px, 0px)
}

input[type="checkbox"],
input[type="radio"] {

    -webkit-transform: scale(0.85);
    vertical-align: middle;
}


.table_metrics {

    font-size: 14px;
    vertical-align: top;
    font-weight: bolder;
    /* text-decoration: underline; */
}

.table_paragraph {
    font-size: medium;
    vertical-align: top;
    font-weight: bolder;
    display: inline;

}

.table_paragraph {
    text-align: left;

}

.table_metrics {
    text-align: right;

}


.contentdiv {
    width: 780px;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, 0);
}

.title {
    border-width: 10px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.footer {
    text-align: center;
    font-size: smaller;
    color: #a7a7a7;
}

.isOK {
    display: inline;
    text-align: right;
}

a {
    color: #ffffff;
}

/* abused for help ? container */
i {
    font-style: normal;
    font-weight: bolder;
}

/* used for thingy that displays the help */
span {
    font-size: small;
    position: absolute;
    background-color: #7392db;
    color: #000000;
    border: 16px solid #7392db;
    /* font-weight: lighter; */
    z-index: 1;
    opacity: 90%;

}

table {
    table-layout: fixed;
    border: 15px solid #2f2f2f;
    background-color: #2f2f2f;

    border-collapse: collapse;
    color: #e9e9e9;
    width: 100%;

}

td {
    vertical-align: top;
    border: 1px solid #727272;
    border-collapse: collapse;
    color: #e9e9e9;
    width: 25%;
}

/* hidden help thingemawhatchies */
.metrics_hide {
    display: none;
}

.metrics_help:hover+.metrics_hide {
    display: block;
}

.deviation_hide {
    display: none;
}

.deviation_help:hover+.deviation_hide {
    display: block;
}

.trim_hide {
    display: none;
}

.trim_help:hover+.trim_hide {
    display: block;
}

.line_hide {
    display: none;
}

.line_help:hover+.line_hide {
    display: block;
}

.mode_hide {
    display: none;
}

.mode_help:hover+.mode_hide {
    display: block;
}