body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #1f1f1f;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: "Lucida Console", "Courier New", Courier, monospace; */
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: Poppins, sans-serif;
    font-size: 14px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg_ledstructures_sq.png"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%; */
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;

}

.progbody {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%), url("../img/bg_ledstructures.png");
    background-size: 100vw 100vh;
}

.pixcalbody {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%), url("../img/bg_pixcalc.png");
    background-size: 100vw 100vh;
}

.patchbody {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%), url("../img/bg_chamsyspatch.jpeg");
    background-size: 100vw 100vh;
}

.winchbody {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%), url("../img/bg_winch.png");
    background-size: 100vw 100vh;
}

textarea {
    height: calc(100vh - 336px);
    width: 80%;
    min-width: 80px;
    background-color: #a0a0a4;
    color: #181818;
}

input {
    font-family: inherit;
    vertical-align: right;
    accent-color: #1e19ff;

}

input[type=range] {
    width: 300px;
}

input[type=text] {
    border: 0px;
    width: 95%;
    height: 100%;
}

input[type=number] {
    border: 0px;
    width: 90%;
    height: 100%;
    vertical-align: middle;
    background-color: #c9cfd0;
    color: #181818;
}

input[type=number][disabled] {
    background-color: #363636;
    color: #e9e9e9;
}


input[type="radio"][disabled] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="file"] {
    display: none;
}

input[type=radio][disabled]:checked {
    border-radius: 100%;
    border: 7px solid #181818 !important;
}

input[type=radio][disabled]:not(:checked) {
    border-radius: 100%;
    border: 7px solid #595959 !important;
}

/* input[type=file], */
input[type=button] {
    border: 8px;
    height: 36px;
    text-align: center;
    font-weight: 600;
    font-size: 12;
    background-color: #1e19ff;
    color: #e6edfc;
    transition: 0.5s;
    border-radius: 4px;

}

input,
p {
    text-align: left;
    margin: 0;
    font-weight: lighter;
}

.button {
    width: 100%;

}

.buttonsave {
    width: 32%;
}

.button.disabled:hover,
input[type=button]:disabled {
    cursor: not-allowed;
    background-color: #625fff;
    /* color: #ffffff; */
    border-color: #625fff;
    border-radius: 4px;


}

a:visited,
a:link {
    color: #ffffff
}


a:hover {
    color: #2f2f2f;
    /* color: #e6edfc; */

    background-color: #625fff;
    transition: 0.5s;
    border-radius: 6px 6px 0px 0px;

}

li:hover,
.button:hover,
.menu_active {
    background-color: #1e19ff;
    color: #e6edfc;
    transition: 0.5s;
    border-radius: 6px 6px 0px 0px;
}

.button:active {
    transform: translate3d(1px, 1px, 0px)
}

input:disabled,
input[type="checkbox"],
input[type="radio"] {
    /* background-color: #ffffff !important; */
    -webkit-transform: scale(1);
    vertical-align: middle;
}

.nexto_button {
    vertical-align: middle;
}

.table_metrics {

    font-size: 14px;
    vertical-align: top;
    font-weight: bolder;
    /* text-decoration: underline; */
}

.table_paragraph {
    font-size: medium;
    vertical-align: top;
    font-weight: bolder;
    display: inline;

}

.table_paragraph {
    text-align: left;

}

.table_metrics {
    text-align: right;

}

.color {
    float: right;
}


.contentdiv {
    width: 50%;
    min-width: 900px;
    /* width: 780px; */
    /* position: absolute; */
    display: block;
    /* margin-top: 10em; */
    margin-left: auto;
    margin-right: auto;

    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, 0); */
}

.activediv {
    border: 15px solid #363636;
    background-color: #363636;
}

.title {
    border-width: 10px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.footer {
    text-align: center;
    font-size: smaller;
    color: #a7a7a7;
}

.isOK {
    display: inline;
    text-align: right;
}



.pixresults  div {
    border: 0px solid #000000;
}

/* abused for help ? container */
i {
    font-style: normal;
    font-weight: bolder;
}

/* used for thingy that displays the help */
span {
    font-size: small;
    position: absolute;
    background-color: #7392db;
    color: #000000;
    border: 8px solid #7392db;
    /* font-weight: lighter; */
    z-index: 1;
    opacity: 95%;

}


table {
    /* width: 740px; */
    table-layout: fixed;
    /* border: 15px solid #363636; */
    border: 2px solid #000000;

    background-color: #363636;
    border-style: solid;
    border-collapse: collapse;
    color: #e9e9e9;
    width: 100%;
    /* position: absoluterel; */

}

th,
td {
    vertical-align: top;
    border: 2px solid #000000;
    border-collapse: collapse;
    color: #e9e9e9;
    width: 25%;
}

.contenttr {
    height: calc(100vh - 380px);
    /* display: flex; */
    /* flex-direction: column;     */
    /* height: calc(100vh); */
    /* height: */
}

.contenthalftr {
    height: calc(100vh - 600px);
    /* display: flex; */
    /* flex-direction: column;     */
    /* height: calc(100vh); */
    /* height: */
}


.flexbox {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* hidden help thingemawhatchies */
.metrics_hide {
    display: none;
}

.metrics_help:hover+.metrics_hide {
    display: block;
}

.deviation_hide {
    display: none;
}

.deviation_help:hover+.deviation_hide {
    display: block;
}

.trim_hide {
    display: none;
}

.trim_help:hover+.trim_hide {
    display: block;
}

.line_hide {
    display: none;
}

.line_help:hover+.line_hide {
    display: block;
}

.mode_hide {
    display: none;
}

.mode_help:hover+.mode_hide {
    display: block;
}

.navbar,
nav {

    background-color: #181818;
    border: 8px solid #181818;
    /* color: #fff; */
    display: block;
    margin: 0;
    overflow: hidden;
    color: #ffffff;


}

ul {

    /* width: 100%; */
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;

}

li {
    border-radius: 4px;

    border: 0px;
    height: 36px;
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
    margin-left: 0;
    margin-right: 0;
    color: #ffffff;


}

nav>ul>li>a {
    /* border: 1px solid #727272; */
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
    /* color: #ffffff; */
    color: inherit;
}

.locateHcont {
    display: grid;
    /* display: inline; */
    justify-items: center;
    /* grid-template-columns: 50px 50px 50px 50px 50px 50px 50px  ;  */
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: auto;
    min-width: 800px;
    box-sizing: border-box;
    /* width: 100%; */

    /* height: 100%; */

    /* margin-left: auto;
    margin-right: auto; */

    /* background: rgba(114, 186, 94, 0.05); */
    /* border: 2px solid #000000; */

}

.locateHitem {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background: #a0a0a4;
    border-radius: 4px;
    border: 2px solid #000000;
    text-align: center;
    font-size: small;
    color: #000000;
}

.locateHitemSel,
.locateHitem:hover {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background: #fff000;
    border-radius: 4px;
    border: 2px solid #000000;
    /* border: 2px rgba(236, 198, 48, 0.5); */
    text-align: center;
    font-size: small;
    color: #181818;
    font-weight: bolder;
}

.debug,
.fw {
    text-align: left;
    font-size: small;
}